# Database
#DATABASE_URL="postgresql://user:password@localhost:5432/cmms_plastics?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_SzAmIjZ4VOg0@ep-flat-mud-anyb1b12-pooler.c-6.us-east-1.aws.neon.tech/mant-db?sslmode=require&channel_binding=require"
# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
