# Node dependencies
node_modules/
.pnpm-store/

# Next.js build
.next/
out/

# NestJS / TypeScript build
dist/
build/

# Turborepo / Cache
.turbo/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
